<div class="bg-gray-100 rounded-lg p-4 mb-4">
  <p class="text-gray-800"><%= comment.content %></p>
  <p class="text-gray-500 text-sm mt-2"><%= t('comments.time_ago', time: time_ago_in_words(comment.created_at)) %></p>
</div>