<h1 class="text-2xl font-bold mb-4">Start New Drumming Session</h1>

<%= form_with(model: @drum_session, local: true) do |form| %>
  <%= form.submit "Start Session", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>
