<% emoji_map = {
  thumbs_up: "ðŸ‘",
  confetti: "ðŸŽ‰",
  horns: "ðŸ¤˜",
  dancer: "ðŸ’ƒ",
  thinking_face: "ðŸ¤”",
  thumbs_down: "ðŸ‘Ž",
  shushing_face: "ðŸ¤«",
  person_gesturing_no: "ðŸ™…",
  sparkling_heart: "ðŸ’–"
} %>
<span class="inline-block text-3xl mr-2 mb-2"><%= emoji_map[reaction.emoji.to_sym] %></span>