// Entry point for your Sass build
@import "application.css";

// Add any additional Sass styles here
// Custom styles
@keyframes flash {
    0% { background-color: #f0f0f0; }
    50% { background-color: #ffe066; }
    100% { background-color: #f0f0f0; }
  }
  
  .flash-animation {
    animation: flash 1s ease-out;
  }